In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("MetaData.csv")

In [3]:
data.head()

     id gender age    county  ptb                                      remarks
0  1000   male  31  Shenxhen    0                                       normal
1  1001   male  64  Shenxhen    0                                       normal
2  1002   male  35  Shenxhen    0                                       normal
3  1003   male  32  Shenxhen    1               STB,ATB,tuberculosis pleuritis
4  1004   male   2  Shenxhen    1  secondary PTB  in the bilateral upper field

In [6]:
data.iloc[0,2]

'31'

In [8]:
data.loc[0,'age']

'31'

In [10]:
grouped = data.groupby(['id'])
print(grouped.mean())
print(grouped.max())

      ptb
id
1000    0
1001    0
1002    0
1003    1
1004    1
...   ...
1699    1
1700    0
1701    0
1702    1
1703    0

[704 rows x 1 columns]
     gender  age      county  ptb  \
id
1000   male   31    Shenxhen    0
1001   male   64    Shenxhen    0
1002   male   35    Shenxhen    0
1003   male   32    Shenxhen    1
1004   male    2    Shenxhen    1
...     ...  ...         ...  ...
1699      M  047  Montgomery    1
1700      F  030  Montgomery    0
1701      F  044  Montgomery    0
1702      F  030  Montgomery    1
1703      F  045  Montgomery    0

                                                remarks
id
1000                                             normal
1001                                             normal
1002                                             normal
1003                     STB,ATB,tuberculosis pleuritis
1004        secondary PTB  in the bilateral upper field
...                                                 ...
1699  persistent rt pleural peel with some interval ...
1700                                             normal
1701                                             normal
1702  left pleural effusion; best seen on lateral vi...
1703                                             normal

[704 rows x 5 columns]